

.options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
  margin-bottom: 3rem; 
  /* z-index: 11; */
}
 .question-box {
  margin-top: 50px;
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 1.1rem; 
  font-weight: bold; 
  text-align: center;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 1rem 2.2rem;  
  border-radius: 50px;  
  color: black;
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
} 

.question-box:not([disabled]):hover {
  background-color: var(--color-darkest);
  box-shadow: 0 4px 12px rgba(203, 17, 17, 0.15); /* Սև ստվեր հովերի ժամանակ */
  transform: translateY(-4px); /* Թեթև վեր բարձրացում հովերի ժամանակ */
}

.question-box:focus {
  outline: none; /* Որպեսզի հանկարծակի ուղղահայաց գծերը չլինեն */
  border-color: var(--color-theme); /* Կոճակի շրջանակը փոփոխել ընտրվելու ժամանակ */
}

.option-btn {
  width: 100%;
  padding: 1rem;
  text-align: left;
  font-size: 1.1rem; /* Ավելի մեծ տառաչափ */
  font-weight: 500;
  background-color: var(--color-medium);
  border: 2px solid var(--color-medium);
  border-radius: 8px; /* Սահմանված կլոր անկյուններ */
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Լուսային ստվեր */
}

.option-btn:hover {
  background-color: var(--color-light);
  border-color: var(--color-light);
  transform: translateX(1.2rem); /* Էֆեկտի էֆեկտը */
}

.option-btn.correct {
  background: green;
  color: white;
  border-color: green;
}

.option-btn.wrong {
  background: red;
  color: white;
  border-color: red;
}

.option-btn[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.option-btn[disabled]:hover {
  transform: none;
} 



.next-btn {
  background-color: #4caf50; /* Կանաչ գույն */
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.next-btn:hover {
  background-color: #45a049; /* Թեթև մուգ կանաչ */
}

.next-btn:disabled {
  background-color: #ccc; /* Մոխրագույն՝ անջատված */
  cursor: not-allowed;
}
