:root {
  --color-darkest: #ffffff; /* Սպիտակ ֆոն */
  --color-dark: #f5f5f5; /* Բաց մոխրագույն */
  --color-medium: #dcdcdc; /* Ավելի մեղմ մոխրագույն */
  --color-light: #222; /* Մուգ տեքստ, բայց ոչ սև */
  --color-theme: #0dc9e6; /* Մնում է նույնը */
  --color-accent: #ff6f00; /* Ավելի վառ նարնջագույն */
}


 
.quiz-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Վերահսկում է այն, որ քոնտեյները համալրի ողջ էկրանը */
  padding-bottom: 10rem; /* Հավելյալ տարածություն՝ ավելի լավ տեսք */

}

.main {
  width: 100%; /* Համակարգման համար ամբողջ լայնություն */
  max-width: 50rem; /* Բարձրագույն լայնություն */
  margin: 0 auto; /* Կենտրոնացնում է ամբողջ բովանդակությունը հորիզոնական */
  display: flex;
  flex-direction: column;
  align-items: center; /* Կենտրոնացնում է բովանդակությունը ուղղահայաց */
  justify-content: flex-start; /* Կոնտենտը սկսել է վերևից */
z-index: 1000;
margin-bottom: 25rem;
}

@media (max-width: 768px) {
  .main {
    width: 90%; /* Փոքր էկրանների համար չափերը հարմարեցված */
    max-width: none; /* Վերացնում ենք վերին սահմանափակումները փոքր էկրանի համար */
  }
}
